a {
    text-decoration: none;
    color: #198754;
}
h5 a:hover {
    text-decoration: underline;
    color: #198754;
}
.categories,
.questions {
    min-height: 40vh;
}
.username {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}
